API_ID=39624600
API_HASH=dd41debdf1c6f0bdb3c038174d58c92e
BOT_TOKEN=8789263463:AAGj4DyePy6YfKhZ53OOCGX0WInh8ucTaIs
MONGO_DB_URI=mongodb+srv://scamradmin:<db_teheco321>@cluster0.6lfby1j.mongodb.net/?appName=Cluster0
IMAGE_URL=
AWAIT_ROOM_ID=
CHANNEL_ID=

# Obtain `API_ID` and `API_HASH` from creating an application at https://my.telegram.org/
# Get `BOT_TOKEN` from @BotFather on Telegram
# Obtain `MONGO_DB_URI` from MongoDB Atlas or your MongoDB instance
# Upload an image to an image hosting service (e.g., graph.org) and use the URL for `IMAGE_URL`
# Use the channel ID for report approval/rejection for `AWAIT_ROOM_ID`
# Use the public channel ID for publishing reports for `CHANNEL_ID`
